<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBaseName" connectionString="Data Source=DIEGO-PC;Initial Catalog=DB_STORE;Integrated Security=False;User ID=sa;Password=diego;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True;min pool size=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>